.footer-container {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding: 3rem 0;
    font-family: "Ubuntu Mono", monospace;
    /* border-top: 2px solid #ddd; */
}

.footer-container p, 
.footer-container a {
    font-size: 1.2rem;
    color: black;
}

.footer-container span {
    font-size: 1.7rem;
}

.footer-nav ul {
    display: flex;
    list-style: none;
    gap: 2rem;
}

.footer-nav ul li a {
    text-decoration: none;
}

@media screen and (max-width: 1070px) {
    .footer-container p, 
    .footer-container a {
        font-size: 1rem;
    }
    .footer-container span {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 750px) {
    .footer-container {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }
    .footer-container a {
        font-size: 0.8rem;
    }
}