#container {
    padding: 0 8%;
}

#main-content {
    display: flex;
    gap: 10px;
    font-family: "Ubuntu Mono", monospace;
    margin: 10px 0;
}

#output {
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.card-aside {
    width: 30%;
    padding: 1rem;
    border: 1px solid #ddd;
}