#navbar-wrap {
    /* position: fixed;
    top: 0;
    right: 0; */
    width: 100%;
    padding: 1.5rem 0; 
    margin: auto;
    /* border-bottom: 1.5px solid #343434; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#nav-logo a {
    text-decoration: none;
}

#nav-logo h1{
    font-size: 3.5rem;
    font-family: "Fredericka the Great", serif;
    color: #343434;
}

#nav-search {
    display: flex;
    align-items: center;
    background-color: #E9DCBE; 
    border-radius: 5px;
    text-decoration: none;
}

#nav-search svg {
    font-size: 2em;
    padding: 5px;
    cursor: default;
    color: gray;
}

#search-field {
    height: 4vh;
    width: 10vw;
    border: none;
    border-radius: 5%;
    background-color: #E9DCBE;
    font-weight: bold;
    color: gray;
}
#search-field:focus {
    outline: none;
}
