#navbar-top-wrap {
    width: 100%;
    padding: 0.5rem 0; 
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#nav-date {
    font-size: 0.9rem;
}

#nav-search {
    display: flex;
    align-items: center;
    gap: 5px;
    text-decoration: none;
}

#nav-search svg {
    font-size: 1.7em;
    padding: 5px 5px 5px 3px;
    cursor: default;
    color: gray;
    cursor: pointer;
    border-radius: 3px;
}

#nav-search svg:hover {
    background-color: #ddd;
}

#search-field {
    display: none;
    padding: 4px 7px;
    width: 100%;
    border: 1px solid black;
    border-radius: 3px;
    color: gray;
}

#search-field::placeholder {
    font-size: 0.8rem;
}

@media screen and (max-width: 870px) {
    #nav-date {
        font-size: 0.750rem;
        font-weight: bold;
    }
}

@media screen and (max-width: 620px) {
    #navbar-top-wrap {
        flex-direction: column;
        align-items: flex-start;
        gap: 5px;
    }
    #nav-search {
        width: 100%;
    }
    /* #nav-date {
        display: none;
    } */
}