.news-card-aside {
    border-bottom: 1px solid black; 
}
#news-card-aside-1,
#news-card-aside-2, 
#news-card-aside-3,
#news-card-aside-4 
{
    display: inline-block; 
    width: 48.5%;
    vertical-align: top;
    border-bottom: 0; 
}
#news-card-aside-0 .card-body-aside,
#news-card-aside-1 .card-body-aside, 
#news-card-aside-2 .card-body-aside, 
#news-card-aside-3 .card-body-aside,
#news-card-aside-4 .card-body-aside,
#news-card-aside-5 .card-body-aside,
#news-card-aside-6 .card-body-aside,
#news-card-aside-7 .card-body-aside,
#news-card-aside-8 .card-body-aside,
#news-card-aside-9 .card-body-aside,
#news-card-aside-10 .card-body-aside,
#news-card-aside-11 .card-body-aside,
#news-card-aside-12 .card-body-aside,
#news-card-aside-13 .card-body-aside,
#news-card-aside-14 .card-body-aside,
#news-card-aside-15 .card-body-aside,
#news-card-aside-16 .card-body-aside,
#news-card-aside-17 .card-body-aside,
#news-card-aside-18 .card-body-aside,
#news-card-aside-19 .card-body-aside
{
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
}

#news-card-aside-5 .card-body-aside {
    border-top: 1px solid black;
    flex-direction: column-reverse;
    margin: 10px 0;
}

/* imagens */
.news-img-aside {
    width: 100%;
}
#news-card-aside-1 .news-img-aside,
#news-card-aside-2 .news-img-aside,
#news-card-aside-3 .news-img-aside, 
#news-card-aside-4 .news-img-aside {
    height: 90px;
}

/* titulo */
.news-title-aside {
    font-size: 1.5rem;
    font-weight: 400;
    margin: 10px 0;
    color: #333;
}
#news-card-aside-1 .news-title-aside,
#news-card-aside-2 .news-title-aside, 
#news-card-aside-3 .news-title-aside, 
#news-card-aside-4 .news-title-aside 
{
    font-size: 1rem;
    font-weight: bold;
    padding: 10px 10px 10px 0; 
    text-align: start;
    color: black;
}
#news-card-aside-5 .news-title-aside {
    font-size: 1.2rem;
    font-weight: bold;
    padding: 10px 10px 10px 0; 
    margin: 0;
    transform: scaleY(1.3);
}
#news-card-aside-0 .news-title-aside:hover,
#news-card-aside-1 .news-title-aside:hover,
#news-card-aside-2 .news-title-aside:hover,
#news-card-aside-3 .news-title-aside:hover,
#news-card-aside-4 .news-title-aside:hover,
#news-card-aside-5 .news-title-aside:hover,
#news-card-aside-6 .news-title-aside:hover,
#news-card-aside-7 .news-title-aside:hover,
#news-card-aside-8 .news-title-aside:hover,
#news-card-aside-9 .news-title-aside:hover,
#news-card-aside-10 .news-title-aside:hover,
#news-card-aside-11 .news-title-aside:hover,
#news-card-aside-12 .news-title-aside:hover,
#news-card-aside-13 .news-title-aside:hover,
#news-card-aside-14 .news-title-aside:hover,
#news-card-aside-15 .news-title-aside:hover,
#news-card-aside-16 .news-title-aside:hover,
#news-card-aside-17 .news-title-aside:hover,
#news-card-aside-18 .news-title-aside:hover,
#news-card-aside-19 .news-title-aside:hover
{
    color: #343434d7;
    cursor: pointer;
}

/* descrição */
.news-text-aside .news-description {
    font-size: 1rem;
    color: #666;
}
#news-card-aside-1 .news-description,
#news-card-aside-2 .news-description, 
#news-card-aside-3 .news-description, 
#news-card-aside-4 .news-description, 
#news-card-aside-5 .news-description 
{
    font-size: 0;
}

/* data de publicação */
.news-time-published {
    font-size: 0.8rem;
    color: #666;
    padding-top: 10px;
}

#news-card-aside-5 .news-time-published {
    padding-bottom: 10px;
}
