#news-card-aside-0 {
    background-color: #b6d9f7;
}
  
#news-card-aside-0 .card-body-aside,
#news-card-aside-1 .card-body-aside, 
#news-card-aside-2 .card-body-aside, 
#news-card-aside-3 .card-body-aside,
#news-card-aside-4 .card-body-aside,
#news-card-aside-5 .card-body-aside,
#news-card-aside-6 .card-body-aside,
#news-card-aside-7 .card-body-aside,
#news-card-aside-8 .card-body-aside,
#news-card-aside-9 .card-body-aside,
#news-card-aside-10 .card-body-aside,
#news-card-aside-11 .card-body-aside,
#news-card-aside-12 .card-body-aside,
#news-card-aside-13 .card-body-aside,
#news-card-aside-14 .card-body-aside,
#news-card-aside-15 .card-body-aside,
#news-card-aside-16 .card-body-aside,
#news-card-aside-17 .card-body-aside,
#news-card-aside-18 .card-body-aside,
#news-card-aside-19 .card-body-aside
{
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
}

#news-card-aside-1,
#news-card-aside-2, 
#news-card-aside-3,
#news-card-aside-4 
{
    display: inline-block; 
    width: 48.5%; 
    vertical-align: top;
    border-bottom: 0; 
}
/* #news-card-aside-1 {
    padding-right: 10px;
}
#news-card-aside-2 {
    padding-left: 10px;
} */

#news-card-aside-1 .news-title-aside,
#news-card-aside-2 .news-title-aside, 
#news-card-aside-3 .news-title-aside, 
#news-card-aside-4 .news-title-aside 
{
    font-size: 1rem;
    padding: 10px 10px 10px 0; 
    text-align: start;
    color: black;
}

#news-card-aside-1 .news-title-aside:hover,
#news-card-aside-2 .news-title-aside:hover,
#news-card-aside-3 .news-title-aside:hover,
#news-card-aside-4 .news-title-aside:hover
{
    color: #34343491;
    cursor: pointer;
}

#news-card-aside-1 .news-text-aside p,
#news-card-aside-2 .news-text-aside p, 
#news-card-aside-3 .news-text-aside p, 
#news-card-aside-4 .news-text-aside p 
{
    font-size: 0;
}

#news-card-aside-0 img,
#news-card-aside-1 img,
#news-card-aside-2 img, 
#news-card-aside-3 img,
#news-card-aside-4 img,
#news-card-aside-5 img,
#news-card-aside-6 img,
#news-card-aside-7 img,
#news-card-aside-8 img,
#news-card-aside-9 img,
#news-card-aside-10 img,
#news-card-aside-11 img,
#news-card-aside-12 img,
#news-card-aside-13 img,
#news-card-aside-14 img,
#news-card-aside-15 img,
#news-card-aside-16 img,
#news-card-aside-17 img,
#news-card-aside-18 img,
#news-card-aside-19 img
{
    width: 100%;
}
  
.news-card-aside {
    border-bottom: 1px solid black; 
}

.news-img-aside {
    width: 100%;
}

.news-title-aside {
    font-size: 1.5rem;
    font-weight: 400;
    margin: 10px 0;
    color: #333;
}

.news-text-aside p {
    font-size: 1rem;
    color: #666;
}